[Desktop Entry]
Encoding=UTF-8
Name=到 http://upload.jianshu.io/daily_images/images/G_E3jgbeDxqUDygtGhX8.jpg 的链接
Type=Link
URL=http://upload.jianshu.io/daily_images/images/G_E3jgbeDxqUDygtGhX8.jpg
Icon=image-jpeg
